@import "_variables";
@import "_font-size";

body {
  background-color: $primary-color;
  color: $secondary-color;
}

.div{
  border-radius: 5px;
  transform: scale(10);
}

.div{
  p{
    font-size: $font-size;
  }
}
